body {
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url('../media/backgr.jpg');
    background-size: 100% auto;
    background-color: lightgray;
}

.menu {
    overflow: hidden;
    background-color: #4c5ba3;
}

    .menu a {
        float: right;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
    }

        .menu a:hover {
            background-color: #7e8fe1;
            color: black;
        }

.active {
    background-color: #4862ff;
    color: black;
}


.foooter {
    text-align: center;
    height: 25px;
    margin-top: auto;
    background: #ff9f43;
    position: relative;
    bottom: 0;
    width: 100%;
    border: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: black;
}

.title {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: black;
}
