<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITP</title>
    <link rel="stylesheet" href="~/css/menu.css" />

</head>
<body>

    <div class="menu">
        <a asp-area="" asp-controller="Admins" asp-action="AddRule">Add Rule</a>
        <a asp-area="" asp-controller="Admins" asp-action="AddCar">Add Car</a>
        <a asp-area="" asp-controller="Admins" asp-action="Index">Admin Home</a>
        Admins only:
    </div>
    <div class="menu">
        <a asp-area="" asp-controller="Clients" asp-action="SearchCar">Search Car</a>
        <a asp-area="" asp-controller="Clients" asp-action="AddReview">Add Review</a>
        <a asp-area="" asp-controller="Clients" asp-action="Index">Client Home</a>
        Clients only:
    </div>
    <div class="menu">
        <a asp-area="" asp-controller="Common" asp-action="Cars">Cars</a>
        <a asp-area="" asp-controller="Common" asp-action="Reviews">Reviews</a>
        <a asp-area="" asp-controller="Common" asp-action="Rules">Rules</a>
        <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Welcome!</a>
        Shared:
    </div>

    <div>
        <partial name="_LoginPartial" />
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
