@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" type="text/css" href="~/css/tableView.css" />
    <link rel="stylesheet" href="~/css/addItem.css" />

<div class="text-center">
    <h1 class="display-4">Client Home Page</h1>
</div>
