@using ITP_App.Models.Admins;
@model AddCarViewModel;
@{
    ViewData["Title"] = "AddCar";
}

<!DOCTYPE html>
<html>
<head>
    <title>ITP</title>
    <link rel="stylesheet" href="~/css/addItem.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    
    <div class="container">

        <h2 class="title" ;>Add Car</h2>
        <br>
        <form asp-action="AddCar" method="post">
            <div style="text-align: center;">
                <br>

                <div class="labels">

                    <div class="column">
                        <label for="Car Type"><b>Car Type:</b></label>
                        <input asp-for="CarType" class="boxes" type="text" placeholder="Car Type..." name="CarType"><br>

                        <label for="Civ Series"><b>Civ Series:</b></label>
                        <input asp-for="CivSeries" class="boxes" type="text" placeholder="Civ Series..." name="CivSeries"><br>

                        <label for="Body Series"><b>Body Series:</b></label>
                        <input asp-for="BodySeries" class="boxes" type="text" placeholder="Body Series..." name="BodySeries"><br>

                        <label for="Car Mileage"><b>Car Mileage:</b></label>
                        <input asp-for="CarMileage" class="boxes" type="number" placeholder="Car Mileage..." name="CarMileage"><br>

                        <label for="Year of manufacture"><b>Year of manufacture:</b></label>
                        <input asp-for="YearOfManufacture" class="boxes" type="number" placeholder="Year of manufacture..." name="YearOfManufacture"><br>

                        <label for="ITP valability date"><b>ITP valability:</b></label>
                        <input asp-for="ItpValability" class="boxes" type="date"  asp-format="{0:yyyy-MM-dd}"  name="ItpValability"><br>

                        <label for="OwnerFirstName"><b>Owner's first name:</b></label>
                        <input asp-for="OwnerFirstName" class="boxes" type="text" placeholder="Owner's first name..." name="OwnerFirstName"><br>

                        <label for="OwnerLastName"><b>Owner's last name:</b></label>
                        <input asp-for="OwnerLastName" class="boxes" type="text" placeholder="Owner's last name..." name="OwnerLastName"><br>
                    </div>
                </div>
                <br>
                <label for="OwnerCNP"><b>OwnerCNP:</b></label>
                <input asp-for="OwnerCNP" class="boxes" type="text" placeholder="OwnerCNP..." name="OwnerCNP"><br>
                <br>
                <button type="submit" class="buttons">Add Car</button>
            </div>
        </form>
    </div>

        
</body>

</html>



